@{
    ViewBag.Title = "Thống kê";
}

<main id="main">
    <div style="padding: 25px;padding-bottom: 20px;border-radius: 10px;">
        <h2 class="text-center" style="text-transform: uppercase;">Thống kê số lượng</h2>
    </div>

    <div class="d-flex justify-content-center">
        <div style="margin: 10px;">
            <div class="containerForm containerThongKe">
                <span>sl khóa</span>
            </div>
            <div class="containerForm containerThongKe">
                <span>số lượng phòng</span>
            </div>
        </div>

        <div style="margin: 10px;">
            <div class="containerForm containerThongKe">
                <span>số lượng thí sinh A2</span>
            </div>
            <div class="containerForm containerThongKe">
                <span>số lượng thí sinh B1</span>
            </div>
        </div>





    </div>




</main><!-- End #main -->