@{
    ViewBag.Title = "Thống kê";

    var soLuongKhoaThi = ViewBag.soLuongKhoaThi;
    var soLuongPhongThi = ViewBag.soLuongPhongThi;
    var soLuongThiSinhA2 = ViewBag.soLuongThiSinhA2;
    var soLuongThiSinhB1 = ViewBag.soLuongThiSinhB1;

}

<main id="main">
    <div style="padding: 25px;padding-bottom: 20px;border-radius: 10px;">
        <h2 class="text-center" style="text-transform: uppercase;">Thống kê số lượng</h2>
    </div>

    <div class="d-flex justify-content-center">
        <div style="margin: 10px;">
            <div class="containerForm containerThongKe">
                <span style="font-size: 25px;">@soLuongKhoaThi</span>
                <p>Khóa thi</p>
            </div>
            <div class="containerForm containerThongKe">
                <span style="font-size: 25px;">@soLuongPhongThi</span>
                <p>Phòng thi</p>
            </div>
        </div>

        <div style="margin: 10px;">
            <div class="containerForm containerThongKe">
                <span style="font-size: 25px;">@soLuongThiSinhA2</span>
                <p>Tổng thí sinh thi A2</p>
            </div>
            <div class="containerForm containerThongKe">
                <span style="font-size: 25px;">@soLuongThiSinhB1</span>
                <p>Tổng thí sinh thi B1</p>
            </div>
        </div>





    </div>




</main><!-- End #main -->